<nav class="navbar navbar-fixed-top">
  <div class="container">
    <span class="logo-wrapper">
      <span><img class="f1-logo" src="assets/f1-light.png" /></span>
      <a class="navbar-brand" routerLink="/">XRL Romania 2020</a>
      <span><img class="xbox-logo" src="assets/xbox-light.png" /></span>
    </span>
    <a class="nav-link" routerLink="calendar">Calendar</a>
    <a class="nav-link" routerLink="standings">Clasament general</a>
    <a class="nav-link" routerLink="constructor-standings"
      >Clasament general echipe</a
    >
    <a class="nav-link" routerLink="penalties">Penalizari</a>
  </div>
</nav>
