@import './../../colors.scss';

.navbar {
  display: flex;
  background-color: $primary;
  color: $secondary;
  box-shadow: none;
  padding: 24px;
  position: fixed;
  top: 0;
  width: 100%;

  .logo-wrapper {
    margin-right: 50px;
  }

  .container {
    width: 100%;
  }

  .f1-logo {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
  }

  a {
    vertical-align: middle;
    color: $secondary;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;

    &.nav-link:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 5px;

    a {
      font-size: 12px;
    }

    .logo-wrapper {
      a {
        font-size: 14px;
      }

      text-align: center;
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }

    .f1-logo {
      width: 25px;
      margin-left: 10px;
    }

    .xbox-logo {
      width: 15px;
    }
  }
}
