<nav class="navbar navbar-fixed-top">
  <div class="container">
    <span class="logo-wrapper">
      <a class="navbar-brand" routerLink="/">European Formula Racing</a>
    </span>
    <a class="nav-link" routerLink="calendar" routerLinkActive="active-link"><span>Calendar</span></a>
    <a class="nav-link" routerLink="standings" routerLinkActive="active-link"><span>Driver Standings</span></a>
    <a class="nav-link" routerLink="constructor-standings" routerLinkActive="active-link"><span>Constructor
        Standings</span></a>
    <a class="nav-link" routerLink="penalties" routerLinkActive="active-link"><span>Penalties</span></a>
    <!-- <a class="nav-link" style="color: black" routerLink="calendar-next-season">Next Season</a> -->
  </div>
</nav>
