<nav class="navbar navbar-fixed-top">
  <div class="container">
    <span class="logo-wrapper">
      <span><img class="f1-logo" src="assets/efr-logo.png" /></span>
      <a class="navbar-brand" routerLink="/">European Formula Racing</a>
    </span>
    <a class="nav-link" routerLink="calendar">Calendar</a>
    <a class="nav-link" routerLink="standings">Driver Standings</a>
    <a class="nav-link" routerLink="constructor-standings">Constructor Standings</a>
    <a class="nav-link" routerLink="penalties">Penalties</a>
  </div>
</nav>
