<div class="wrapper">
  <table>
    <tr>
      <th width="20%">Gamertag</th>
      <th width="20%">Team</th>
      <th width="10%">Penalty points</th>
      <th width="50%">Current penalties / warnings</th>
    </tr>
    <tr *ngFor="let player of players; index as i">
      <td>{{ player.name }}</td>
      <td>
        <img class="car" src="assets/{{ player.team }}.png" />
      </td>
      <td>{{ player.penaltyPoints }}</td>
      <td>{{ player.nextRacePenalty }}</td>
    </tr>
  </table>
</div>
