@import './../../colors.scss';

.wrapper {
  align-items: flex-start;
  justify-content: space-between;

  .positionInput {
    width: 40px;
  }

  .teamSelect {
    width: 100px;
  }

  #capture-standings {
    background-color: $background;
  }
}
