@import './../../colors.scss';

.section p {
  font-family: F1;
  text-shadow: 2px 2px $shadow;
}

.section span {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.box {
  font-family: F1;
  text-align: center;
  background-color: $primary;
  width: 300px;
  height: 150px;
  border-radius: 4px;
  box-shadow: none;
  color: $secondary;
}

img.country {
  width: 30px;
}
