<div class="wrapper">
  <table>
    <tr>
      <th width="10%">Pozitie</th>
      <th width="40%">Nume</th>
      <th width="20%">Echipa</th>
      <th width="20%">+ / -</th>
      <th width="10%">Punctaj</th>
    </tr>
    <tr *ngFor="let player of players; index as i">
      <td>
        <span class="medal"></span><span class="position">{{ i + 1 }}</span>
      </td>
      <td>{{ player.name }}</td>
      <td>
        <img class="car" src="assets/{{ player.team }}.png" />
      </td>
      <td [ngClass]="{ down: player.gain < 0, up: player.gain > 0 }">
        <span class="arrow"></span>{{ showGain(player.gain) || "-" }}
      </td>
      <td>{{ player.points }}</td>
    </tr>
  </table>
</div>
