<div class="wrapper">
  <div class="half">
    <div class="section">
      <div *ngFor="let track of calendarTracks; index as i">
        <p *ngIf="i < calendarTracks.length / 2">
          <span class="date">{{track.date.getDate()}}
            {{track.date.toLocaleString('default', { month: 'long' })}}
          </span>
          - {{track.name}}
          <span>{{track.flag}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="half">
    <div class="section">
      <div *ngFor="let track of calendarTracks; index as i">
        <p *ngIf="i < calendarTracks.length && i >= calendarTracks.length / 2">
          <span class="date">{{track.date.getDate()}}
            {{track.date.toLocaleString('default', { month: 'long' })}}
          </span>
          - {{track.name}}
          <span>{{track.flag}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
