<div class="wrapper">
  <div class="half">
    <div class="section">
      <p><span class="date">6th November</span> - Australia<span>🇦🇺</span></p>
      <p><span class="date">13th November</span> - Bahrain <span>🇧🇭</span></p>
      <p><span class="date">20th November</span> - Vietnam <span>🇻🇳</span></p>
      <p><span class="date">27th November</span> - China <span>🇨🇳</span></p>
      <p><span class="date">4th December</span> - Netherlands <span>🇳🇱</span></p>
      <p><span class="date">11th December</span> - Spain <span>🇪🇸</span></p>
      <p><span class="date">18th December</span> - Monaco <span>🇪🇸</span></p>
      <p class="break">Christmas Break</p>
      <p><span class="date">8th January</span> - Azerbaijan <span>🇦🇿</span></p>
      <p><span class="date">15th January</span> - Canada <span>🇨🇦</span></p>
      <p><span class="date">22nd January</span> - France <span>🇫🇷</span></p>
      <p><span class="date">29th January</span> - Austria <span>🇦🇹</span></p>
    </div>
  </div>
  <div class="half">
    <div class="section">
      <p><span class="date">5th February</span> - Britain <span>🇬🇧</span></p>
      <p><span class="date">12th February</span> - Hungary <span>🇭🇺</span></p>
      <p><span class="date">19th February</span> - Belgium <span>🇧🇪</span></p>
      <p><span class="date">26th February</span> - Italy <span>🇮🇹</span></p>
      <p class="break">5th March - Break</p>
      <p><span class="date">12th March</span> - Singapore <span>🇸🇬</span></p>
      <p><span class="date">19th March</span> - Russia <span>🇷🇺</span></p>
      <p><span class="date">26th March</span> - Japan <span>🇯🇵</span></p>
      <p><span class="date">2nd April</span> - USA <span>🇺🇸</span></p>
      <p><span class="date">9th April</span> - Mexico <span>🇲🇽</span></p>
      <p><span class="date">16th April</span> - Brazil <span>🇧🇷</span></p>
      <p><span class="date">23rd April</span> - Abu Dhabi <span>🇦🇪</span></p>
    </div>
  </div>
</div>
<!-- <p><span class="date">11 Iulie</span> - Australia<span>🇦🇺</span></p>
      <p><span class="date">18 Iulie</span> - Bahrain <span>🇧🇭</span></p>
      <p><span class="date">25 Iulie</span> - Vietnam <span>🇻🇳</span></p>
      <p><span class="date">1 August</span> - China <span>🇨🇳</span></p>
      <p><span class="date">8 August</span> - Olanda <span>🇳🇱</span></p>
      <p class="break">15 August - Pauza</p>
      <p><span class="date">22 August</span> - Spania <span>🇪🇸</span></p>
      <p><span class="date">29 August</span> - Monaco <span>🇲🇨</span></p>
      <p><span class="date">5 Septembrie</span> - Azerbaijan <span>🇦🇿</span></p>
      <p><span class="date">12 Septembrie</span> - Canada <span>🇨🇦</span></p>
      <p><span class="date">19 Septembrie</span> - Franta <span>🇫🇷</span></p>
      <p><span class="date">26 Septembrie</span> - Austria <span>🇦🇹</span></p>
        <p><span class="date">3 Octombrie</span> - UK <span>🇬🇧</span></p>
        <p><span class="date">10 Octombrie</span> - Ungaria<span>🇭🇺</span></p>
        <p><span class="date">17 Octombrie</span> - Belgia <span>🇧🇪</span></p>
        <p><span class="date">24 Octombrie</span> - Italia <span>🇮🇹</span></p>
        <p><span class="date">31 Octombrie</span> - Singapore <span>🇸🇬</span></p>
        <p><span class="date">7 Noiembrie</span> - Rusia <span>🇷🇺</span></p>
        <p><span class="date">14 Noiembrie</span> - Japonia <span>🇯🇵</span></p>
        <p><span class="date">21 Noiembrie</span> - SUA <span>🇺🇸</span></p>
        <p><span class="date">28 Noiembrie</span> - Mexic <span>🇲🇽</span></p>
        <p><span class="date">5 Decembrie</span> - Brazilia <span>🇧🇷</span></p>
        <p><span class="date">12 Decembrie</span> - Abu Dhabi <span>🇦🇪</span></p>-->
