<div class="wrapper" *ngIf="players && teams">
  <table>
    <tr>
      <th width="50%">Team</th>
      <th width="50%">Members</th>
    </tr>
    <tr *ngFor="let team of teams">
      <td class="{{ team.name.toString().split(' ').join('') | lowercase }}">
        <img class="car" src="assets/{{ team.name }}.png" /><span>{{
          team.name
        }}</span>
      </td>
      <td class="{{ team.name.toString().split(' ').join('') | lowercase }}">
        <p *ngFor="let player of players | filterByTeam: team.name">
          {{ player.name }}
        </p>
      </td>
    </tr>
  </table>
</div>
